.logo {
  height: 40px;
}

.LargeMobileView {
  display: none;
}

.mobileView {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobileView {
    display: none;
  }
  .LargeMobileView {
    display: block;
  }
}

button {
  height: 40px;
  width: 100px;
  margin-top: 20px;
  background-color: transparent;
}
